.input_number {
    width: 70px; 
    font-size: 0.8rem; 
    padding: 0.2rem;
    text-align: center;
}

.button{
    background-color: #007eb880 !important;
    color: white !important;
}

.button:hover {
    background-color: #007eb8d5 !important;
}

.paragraph {
    font-size: 25px;
    font-weight: 600;
}